* {
    margin: 0;
    padding: 0;
}

.quadrado {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabuleiro {
    padding: 25px;
    width: 493px;
    height: 493px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;

}

.info {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

#captJogador1 {
    font-size: 25px;
    font-weight: bold;
}

#captJogador2 {
    font-size: 25px;
    font-weight: bold;
}

.botoes {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;

}

#saveGame {
    width: 135px;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px
}

#mostrarArvore {
    width: 135px;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px
}

#sair {
    width: 135px;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px
}

.M{


}

.H{
    
}