* {
    margin: 0;
    padding: 0;
}

.quadrado {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#tabuleiro {
    padding: 25px;
    width: 493px;
    height: 493px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;

}

.info {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

#captJogador1 {
    font-size: 25px;
    font-weight: bold;
}

#captJogador2 {
    font-size: 25px;
    font-weight: bold;
}

.botoes {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;

}

#saveGame {
    width: 135px;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px
}

#mostrarArvore {
    width: 135px;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px
}

#sair {
    width: 135px;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px
}

.captJogador {
    width: 125px;
    text-align: center;
    text-transform: uppercase;
}

.captMaquina {
    width: 125px;
    text-align: center;
    text-transform: uppercase;
}

#iniciar{
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 182, 0.5);
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#iniciaJogo{
    display: flex;
    width: 230px;
    height: 100px;
        margin: 25px;
    padding: 15px;
    background-color: aqua;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: bold;
}



#carregarJogo{
    display: flex;
    width: 230px;
    height: 100px;
    margin: 25px;
    padding: 15px;
    border-radius: 15px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: bold;
}


.M{


}

.H{
    
}